.m-d-flex {
  display: flex;
}
.m-d-justify-start {
  justify-content: flex-start;
}
.m-d-justify-end {
  justify-content: flex-end;
}
.m-d-justify-center {
  justify-content: center;
}
.m-d-justify-space-around {
  justify-content: space-around;
}
.m-d-justify-space-between {
  justify-content: space-between;
}
.m-d-align-items-center {
  align-items: center; }

.m-d-align-center {
  align-items: center;
}
.m-d-align-end {
  align-items: flex-end;
}
.m-d-align-start {
  align-items: flex-start;
}
.m-d-align-top {
  align-content: flex-start;
}
.m-d-align-middle {
  align-content: center;
}
.m-d-align-bottom {
  align-content: flex-end;
}
.m-d-direction-row {
  flex-direction: row;
}
.m-d-direction-column {
  flex-direction: column;
}
.m-d-none {
  display: none !important;
}
.m-d-block {
  display: block !important;
}

