.m-lh-xxs {
    line-height: var(--lineheight-xxs);
}
.m-lh-xs {
    line-height: var(--lineheight-xs);
}
.m-lh-s {
    line-height: var(--lineheight-s);
}
.m-lh-m {
    line-height: var(--lineheight-m);
}
.m-lh-l {
    line-height: var(--lineheight-l);
}
.m-lh-xl {
    line-height: var(--lineheight-xl);
}
.m-lh-xxl {
    line-height: var(--lineheight-xxl);
}
